/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(226, 226, 226);
    margin-bottom: 2rem;
}

header img{
    width: 6rem;
    height: 4.4rem;
    padding-left: 2rem; 
    padding-top: .4rem; 
    background-color: white;
}

header h1{
    display: inline;
    font: 2.5rem sans-serif;
    font-weight: 700;
    vertical-align: 1.6rem;
    background-color: white;
}

main{
    margin: 0 auto;
    background-color: white;
    width: 70%;
    margin-top: 3rem;
    border-radius: .5rem .5rem .5rem .5rem ;
    padding-bottom: 1.5rem;
}

main section.riquadro-bottoni{
    padding-left: 3.5rem ;
    padding-top: 1rem ;
    padding-bottom: .8rem;
}

h2{
    padding-left: 3.5rem ;
    padding-top: 2rem ;
    font: 1.5rem sans-serif;
    font-weight: 700;
    color: gray;
}

span{
    vertical-align: top;
}

#casella-rossa{
    border: 2px red solid;
    border-radius: 100%;
    padding-left: .2rem;
    padding-right: .2rem;
}

#casella-verde{
    border: 2px rgb(0, 255, 85) solid;
    border-radius: 100%;
    padding-left: .2rem;
    padding-right: .2rem;
}

div{
    border-radius: .9rem;
    color: white;
    border: none;
    display: inline;
    padding: .5rem 1rem .5rem;
    font-size: .6rem;
}

li{
    color: black;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.5rem;
}

ul{
    padding-left: 0rem;
    list-style-type: none ;
}

#bottom-blu{
    background-color: rgb(31, 182, 237);
    border-radius: .5rem;
    color: white;
    border: none;
    width: 5rem;
    height: 1.8rem;
}

#bottom-transparent{
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;
    border: 1px rgb(200, 200, 200) solid;
    color: rgb(200, 200, 200);
    width: 6rem;
    height: 1.8rem;
}

#viola{
    background-color: violet;
}

#verde{
    background-color: green;
}

#arancione{
    background-color: orange;
}

#rosa{
    background-color: palevioletred;
}

#lime{
    background-color: greenyellow;
}

#celeste{
    background-color: rgb(31, 182, 237);
}

.top-part{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 5rem;
}

.separatore{
    width: 100%;
    height: 2px;
    background-color: rgb(226, 226, 226) ;
    margin-top: 0px;
    margin-left: 0px;
}